APP_NAME=PageTurn-Orders
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8003

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=orders-db
DB_PORT=5432
DB_DATABASE=orders_db
DB_USERNAME=user
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# Inter-Service URLs (Microservices)
AUTH_SERVICE_URL=http://auth-service/api
CATALOG_SERVICE_URL=http://catalog-service/api
INVENTORY_SERVICE_URL=http://inventory-service/api
FINANCE_SERVICE_URL=http://finance-service/api
